//########### FONTS ########//
$font-stack: ;
$serif: ;
$sans-serif: ;



//######## COLORS #########//
$primary-color: ;
$secondary-color: ;
$button-color: ;

//####### SIZES ##########//


//###### BREAKPOINTS ######//
$XS:    321px;  
$S:     481px;
$SM:    641px;   
$M:     769px;
$ML:    961px;     
$L:     1025px;
$XL:    1281px;