    <body ng-app="penny">
    <header class="center">
    <h1><a href="/">Penny Pincher</a></h1>
        <img src="images/logo.png" alt="pennyPincher logo" class="center"></img>
    </header>

<hr style="margin:0 0 5px">