img {
	border: none;
}

.teaserImg-round {  
	// Base styles are for mobile
		width: 100%;
		margin: 15% auto;
		border-radius: 50%;
		display: none;
		
	@media#{$small-and-up} {	//481px
		// width: 35%;
		// display: block;
		// margin: 0 auto 15px;
	}	
	@media#{$smallish-and-up} {	//601px
	  	width: 30%;
	  	margin: 5% 2.5%;
	  	float: left;
	}
	@media #{$medium-and-up} {	//769px
      	 
	}
	@media#{$standard-and-up} {	//992px
		
	}
	@media #{$large-and-up} {	//1201px
		
	}
}

.teaserImg-rect{
	margin: 1rem auto;
	@media#{$small-and-up}{
	// display: none;
	}
}

.tile-img {
	border-radius: 50%;
	margin: 0.5rem;
}