img {
	border: none;
}

.teaserImg-food {
	// background-image: url("../img/food.png");  
	// standard static sizing dimensions
	
	width: 100%;
	margin: 0;
	
	
	@media #{$medium-and-up} {	//601px
       width: 50%; 
       border-radius: 50%;
	}
	@media #{$large-and-up} {//993px
		width: 75%;
	}
	
	// attempt at making the image responsive
	// height: auto;
	// max-width: 100%;
	
	margin: 15% auto;
}