
h1 {
	font-size: 3rem;
	margin: 0.67rem 0;
	&.title {
		// color: $primary-color;
		// width: 100%;
		// text-align: center;
	}
}
h2 {
	font-size: 2rem;
    margin: 0.83rem 0;
}
h3 {
	font-size: 1.5rem;
    margin: 1rem 0;
}
h4 {
	font-size: 1.25rem;
	margin: 1.33rem 0;
}
h5 {
	font-size: 1rem;
	margin: 1.67rem 0;
}
h6 {
	font-size: 0.75rem;
	margin: 2.33rem 0;
}

p {
	padding: 0;
	margin: 0;
}

.spiel p{
	height: 100%;
	margin: 0 0 1rem;

	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6rem;
	
	text-align: center
	margin 0 auto;

	@media #{$small-and-up} {		//481px
		font-size: 1.125rem;
	}
	@media #{$smallish-and-up} {	//601px
		margin: 0.5rem 0 2rem;
		font-size: 1.25rem;
		line-height: 2rem;
	}
	@media #{$sMedium-and-up} {		//641px
		// margin: 1rem 0 2rem;
		width: 60%;
		float: left;
	}
	@media #{$medium-and-up} {		//769px
		margin: 2.5rem 0 0;
	}
	@media #{$large-and-up} {		//993px
		margin: rem 0 0;
	}
	@media #{$xlarge-and-up} {		//1025px
	
	}
}