<%- include _doc_head.ejs %>

<div class="row">
  <div class="large-12 small-12 columns">
      <!--h1= message-->
      <h1>message</h1>
      <!--h2= error.status-->
      <h2 class="status">error</h2>
      pre #{error.stack}
      <pre id="stack">error</pre>
  </div>
</div>