<footer class="center">
     <a class="footerLink" href="https://pennypincher-calicci.c9.io/privacy">Privacy Policy</a> 
     <a class="footerLink" href="https://pennypincher-calicci.c9.io/tos">Terms of Service</a> 
     <a class="footerLink" href="https://pennypincher-calicci.c9.io/support">Support</a>
</footer>
    
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/fb_login.js"></script>
    <!--<script src="/js/database.js"></script>-->
    <script src="/js/gps.js"></script>
    <script src="/js/ejs_production.js"></script>
    <!--<script src="/js/app.js"></script>-->
    

  </body>
</html>