<footer class="center">
    <ul class="footerLink">
        <li>
             <a href="https://pennypincher-calicci.c9.io/privacy">Privacy Policy</a> 
        </li>
        <li>
            <a href="https://pennypincher-calicci.c9.io/tos">Terms of Service</a> 
        </li>
        <li>
            <a href="https://pennypincher-calicci.c9.io/support">Support</a>
        </li>
    </ul>
</footer>
    
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/fb_login.js"></script>
    <script src="/js/gps.js"></script>
    <script src="/js/jqueryScripts.js"></script>
    <script src="/js/ejs_production.js"></script>
    

  </body>
</html>