    <body ng-app="penny">
    <div id="fb-root"></div>
    <div>
    <header class="center">
    <h1><a href="/">Penny Pincher</a></h1>
        <img src="img/logo.png" alt="pennyPincher logo" class="center"></img>
    </header>
    </div>
<hr>