<body ng-app="penny">
    
    <header>
        <a href="/">
            <img 
                src     ="img/penny_pincher_logo.svg" 
                alt     ="PennyPincherApp logo" 
                class   ="logo">
            </img>
        </a>
    </header>