<div class="row">
    <div class="large-4 columns">
         <img src="/img/food.png" alt="food" height="400" width="400"> 
       
    </div>
    <div class="large-8 columns">
        <p id="info">We built a site that will help locate the right prices at the right location. Need to get some great food somewhere, but don't want to pay all that money? Truth is there are a lot of restaurants out there with plenty of specials that no one really knows about. WE ARE HERE TO HELP! </p>
    </div>
</div>

<div id="divResults"></div>

<div class="row">
    <div class="large-12 columns" id="description">
        <div class="large-4 small-12 columns">
            <img src="/img/sign-up.svg" class="center" height="200" width="200" />
            <h2 class="steps">Step 1</h2>
            <p>Sign up for our site or login if you have an account and see what specials are near you! dont worry, you can sign up with your social accounts as simple as 3 clicks!</p>
        </div>
        
        <div class="large-4 small-12 columns">
            <img src="/img/imGoing.svg" class="center" height="200" width="200" />
            <h2 class="steps">Step 2</h2>
            <p>I add all the design, colors, and everything else we talked about and make a PSD of what the site will look like. If you like, then i start coding! </p>
        </div>
        
        <div class="large-4 small-12 columns">
            <img src="/img/outTheDoor.svg" height="200" width="200" />
            <h2 class="steps">Step 3</h2>
            <p>Once its coded up and ready we will meet up again and you will give your final approval. Once you Then... we launch</p>
        </div>
    </div>
</div>