<div class="row">
    <div class="large-12 columns">
        <div class="">
             <img class="teaserImg-round" alt:"food" src="/img/food_square.jpg">
             <img class="teaserImg-rect" alt:"food" src="/img/food_rect.jpg">
        </div>
        
        <div class="">
            <p class"spiel">We built a site that will help locate the right prices at the right location. Need to get some great food somewhere, but don't want to pay all that money? Truth is there are a lot of restaurants out there with plenty of specials that no one really knows about. WE ARE HERE TO HELP! </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-4 small-12 columns center">
            <img src="/img/sign-up.svg" height="200" width="200" />
            <h2 class="">Step 1</h2>
            <p>Sign up and login with your Facebook account in a little as one click!</p>
        </div>
        
        <div class="large-4 small-12 columns center">
            <img src="/img/imGoing.svg" height="200" width="200" />
            <h2 class="">Step 2</h2>
            <p>Click the find deals button below to initiate a search.</p>
        </div>
        
        <div class="large-4 small-12 columns center">
            <img src="/img/outTheDoor.svg" height="200" width="200" />
            <h2 class="">Step 3</h2>
            <p>Select your favorite deal and go get some food! Don't forget to like and share our App!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns center">
        <a class="button-results" href=https://pennypincher-calicci.c9.io/search>Get Results</a>    
    </div>
</div>