
/* ======================= Social Components ======================= */

.social {
    // background-color: lightgreen;
    margin: 1rem 0;
}
// This is the Facebook Like architecture 
// including the buttons, the user pictures and the accompanying text
.fb_like-share {
    // display: inline-block;
    // background-color: lightblue;
    width: 75%;
    margin: 0;
    overflow: auto;
}

.fb_login {
    // display: inline-block;
    // background-color: lightpink;
    width: 25%;
    margin: 0;
}


/* ======================= Results Button ======================= */

// This button launches the results page and displays the search results to the user
.button-results {
    background-color: $green;
    color: white;
    height: 2rem;
    line-height: 2rem;
    // margin: 3rem auto;
    padding: 1rem 33%;
    border-radius: 0.25rem;
    @media #{$small-and-up} {		//481px
        
    }
    @media #{$smallish-and-up} {	//601px
        padding: 1rem 25%;
    }
    @media #{$sMedium-and-up} {		//641px
        
    }
    @media #{$medium-and-up} {		//769px
        padding: 1rem 12%;
    }
    @media #{$large-and-up} {		//993px
       
    }
    @media #{$xlarge-and-up} {		//1025px

    }
}

.button-spacer {
    margin: 2rem 0;
}


/* ======================= Restaurant Tiles ======================= */

.tile {
    position: relative;
    background-color: #fff;
    width: 95%;
    height: 375px;
    border-radius: 0.125rem;
    padding: 1rem;
    margin: 1.5rem auto;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .5);
}

.tile-bus_name {
    display: block;
    padding: 0;
    margin: 0;
}

.tile-bus_addr {
    display: block;
    padding: 0;
    margin: 0;
}

.tile-bus_phone {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    display: block;
    padding: 0;
    margin: 1rem auto;
}

.tile-rating_stars {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    display: block;
    margin: 1rem auto;
}

.tile-img {} // see base/images.scss