
// Primary Button styles. Used for login/logout
// The classname is an attempt at overriding facebook styles
._4z_b {
    display:inline-block;
    padding: 10px;
    
    background-color: #a9db80; 
    background-image: linear-gradient(to bottom, #a9db80, #96c56f);
    
    border:1px solid #26759E;
    border-radius: 7px;
    box-shadow: #FEFFFF 0 1px 3px inset;
    
    font-size:21px;
    font-weight:bold; color: #05142E;
    // font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
     
    text-decoration:none; 
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
    &:hover {
        background-color: #8ed058; 
        background-image: linear-gradient(to bottom, #8ed058, #7bb64b);
        border:1px solid #26759E;
    }
}

// This is the Facebook Like architecture 
// including the buttons, the user pictures and the accompanying text
.fb-like {
    margin: 0.5rem 0;
}

