header {
	background-image: url(../img/green-poly.png);
	// min-height: 50%;
	// margin-bottom: 1rem;
	
	@media #{$small-and-up} {		//481px
	
	}
	@media #{$smallish-and-up} {	//601px
	
	}
	@media #{$sMedium-and-up} {		//641px
	
	}
	@media #{$medium-and-up} {		//769px
	
	}
	@media #{$large-and-up} {		//993px
	
	}
	@media #{$xlarge-and-up} {		//1025px
	
	}
}

.logo{
	width: 12.5%;
	margin: 1rem;
	@media #{$small-and-up} {		//481px
	
	}
	@media #{$smallish-and-up} {	//601px
	
	}
	@media #{$sMedium-and-up} {		//641px
	
	}
	@media #{$medium-and-up} {		//769px
	
	}
	@media #{$large-and-up} {		//993px
	
	}
	@media #{$xlarge-and-up} {		//1025px
	
	}
}

.hide-text { /* The Kellum Method of image replacement */
	text-indent: 100%;
	white-space: nowrap;
	overflow: auto;
}




