#divResults {
	background: url(../img/blue-poly.png);
}

.center {
	text-align: center;
}

/* Gradient transparent - color - transparent */
hr {
	margin: 3rem 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*Div on homepage with food picture*/
#teaserPic{
//     	@media#{$smallish-and-up}{//641px
// 	  	width: 20%; 
       
// 	}
}